[Unit]
Description=Prometheus exporter for Raspberry Pi metrics
Wants=raspberrypi_exporter.timer

[Service]
Type=oneshot
ExecStart=/storage/metrics/raspberrypi_exporter
